body {
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 200;
    font-size: 20px;
    background-color: black;
}

.top-bar-section ul li>a, h3, #footerTitle{

    font-family: 'Open Sans Condensed', sans-serif !important;
    
}

#links, #blueimp-gallery-carousel, .parallax-content{
    background-color: transparent;
}

.parallax-background {
    /*background-image: url("../content/img/fab5logo.png");*/
    background-color: #000000;
    height: 620px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 100% !important;
    z-index: -1;
}

.intro-text {
    font-size: 50px;
    color: #fff;
    text-align: center;
    /*margin-top: 15%;*/
}

.parallax-content {
    max-width: 100%;
    position: relative;
    /*top: 600px;*/
    /*padding: 50px;*/
    font-size: 20px;
    
}

#backLogo {
    /*height: 600px;*/
    max-width: 2000px;
}

#titleText {
    margin-top: 15%;
    font-family: 'Times New Roman', Times, serif;
    color: #a01522;
    font-style:italic;
}

.footer {
    position: relative;
    max-width: 100%;
    top: 600px;
    background-color: #000000;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
}

    .footer p.slogan {
        color: #8d9093;
        font-size: 1.8rem;
        margin: 0 0 1rem;
    }

    .footer p.copywrite {
        color: #8f9296;
        font-size: 0.875rem;
        margin: 0;
    }

    .footer .links a {
        list-style: none;
        font-weight: bold;
        color: #ffffff;
        /*padding: 3rem 0 2rem;*/
        margin: 0;
    }

        .footer .links a::after {
            content: "•";
            padding: 0 0.4rem 0 0.8rem;
        }

        .footer .links a:last-child::after {
            content: "";
            padding: 0 0.4rem 0 0.8rem;
        }

i {
    font-size: 2.5rem;
}

.icon-button {
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: white;
}

    .icon-button span {
        display: block;
        border-radius: 0;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.3s;
    }

    .icon-button:hover span {
        display: block;
        border-radius: 3.6rem;
        width: 3.6rem;
        height: 3.6rem;
        margin: -1.8rem;
    }

    .icon-button i {
        background: none;
        height: 3.6rem;
        width: 3.6rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        line-height: 3.6rem;
        transition: all 0.3s;
    }

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.gplus span {
    background-color: #db5a3c;
}

.icon-button .fi-social-twitter {
    color: #4099ff;
}

.icon-button .fi-social-facebook {
    color: #3b5998;
}

.icon-button .fi-social-google-plus  {
    color: #db5a3c;
}

.icon-button .fi-social-instagram  {
    color: #db5a3c;
}

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus, .icon-button:hover .fi-social-instagram{
    color: white;
    font-size: 2.6rem;
    line-height: 3.9rem;
}

.orbit-container{
  background: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 600px;

}

.textarea-custom{
    height: 125px;
    resize: none;
}

.button-wide{
    width: 100%;
    border-radius: 3px;
}

li.active a {
    background: #a01522 !important;

}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-300{
    margin-top: 300px;
}

.round-img {
    opacity: 0.9;
    height:18rem;
    width: 18rem;
    border-radius: 50%;
}

.image { 
   position: relative; 
   
}

h3 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 95%; 
   text-align: center;
}

h3 span { 
   font-size: 50px;
   color: white !important;
   /*font: bold 24px/45px Helvetica, Sans-Serif; */
   letter-spacing: -1px;  
   /* background: rgb(0, 0, 0); /* fallback color 
   background: rgba(0, 0, 0, 0.7); */
   padding: 10px; 
   border-radius: 30px;
}

.max-width-0{

 max-width: none !important;

}
.margin-left-0{

    margin-left: 0px !important;
}

.opacity-085{
    opacity: 0.85 !important;
}

.margin-top-150{
    margin-top: 150px;
}

.white-font{
    color: white !important;
}

.font-open-sans-condensed{
    font-family: 'Open Sans Condensed', sans-serif !important;
}

.top-0-perc{
    top: 0% !important;
}

.top-bar, .top-bar .sticky{
    margin-bottom: 5% !important;
}

.top-bar, .top-bar *{
    background-color: black !important;
    font-size: 110% !important;
}

ul.right *{
    background-color: black !important;
    border-radius: 10px;

}

ul.right{
    margin-top: 2%;
}


@media only screen and (max-width: 370px) {
    .show-for-small-cust {
        display: none !important;
    }
}

.navIcon{
    font-size: 250% !important;
}

.contain-to-grid{
    background-color: transparent;
}


