<style type=text/css>
h4{
	color: white !important
}

.info{
	background-color: black;
	opacity: 0.95;
	margin: 20px;
}

h4 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif !important;
}

</style>
<script>
    $("li").removeClass("active");
    // add class to the one we clicked
    $(".events").addClass("active");
</script>
<div class="info">
<div class='row'>
	<div class="columns small-12 small-centered text-center">
		<img class="margin-top-20" alt="" src="img/events/alumni.jpg"></img>
	</div>
</div>
<div class='row'>
	<div class="columns small-12 small-centered text-center white-font">
		<h4>THURSDAY OCTOBER 15, 2015</h4>
		<h4>THE ALUMNI MIXER </h4>
		<h4>Sheraton Rooftop Lounge</h4>
		<h4>1400 Main St.</h4>
		<h4>5:00-8:00 PM</h4>
	</div>
</div>
</div>

<div class="info">
<div class='row'>
	<div class="columns small-12 small-centered text-center">
		<img class="margin-top-20" alt="" src="img/events/overdose.jpg"></img>s
	</div>
</div>
<div class='row'>
	<div class="columns small-12 small-centered text-center white-font">
		<h4>FRIDAY OCTOBER 16, 2015</h4>
		<h4>OVERDOSE: DAY & NIGHT</h4>
		<h4>Day Party: Coconuts Tropical Cafe</h4>
		<h4>1710 Main St.</h4>
		<h4>4:00-8:00 PM</h4>
		<h4>Night Party: Blue in the Vista</h4>
		<h4>721 Lady St.</h4>
		<h4>10:00-2:00 AM</h4>
	</div>
</div>
</div>

<div class="info">
<div class='row'>
	<div class="columns small-12 small-centered text-center">
		<img class="margin-top-20" alt="" src="img/events/upper.jpg"></img>s
	</div>
</div>
<div class='row'>
	<div class="columns small-12 small-centered text-center white-font">
		<h4>Myxx Nightlife</h4>
		<h4>14 Berryhill Rd.</h4>
		<h4>10:00-3:00 AM</h4>
		<h4>DJ B Lord</h4>
		<h4>For sections contact 803.629.4282 or go <a link target="_blank" href="http://www.MyxxNightlife.com">here</a>.</h4>
	</div>
</div>
</div>

<div class="info">
<div class='row'>
	<div class="columns small-12 small-centered text-center">
		<img class="margin-top-20" alt="" src="img/events/brunch.jpg"></img>s
	</div>
</div>
<div class='row'>
	<div class="columns small-12 small-centered text-center white-font">
		<h4>SUNDAY OCTOBER 18, 2015</h4>
		<h4>DAY LA SOUL: The Brunch Party</h4>
		<h4>Rue 77</h4>
		<h4>1301 Assembly St.</h4>
		<h4>12:00-4:00 PM</h4>
	</div>
</div>
</div>