<script>
    $("li").removeClass("active");
    // add class to the one we clicked
    $(".gallery").addClass("active");
</script>
<div class="row margin-top-150">
    <div class="columns small-12 end text-center">
        <h1 class="white-font font-open-sans-condensed">2015</h1>
    </div>
</div>
<div class="row">
    <div class="columns small-12 large-3 small-centered image">
        <a href="#/gallery/hc2015">
            <div class="gallery-link hc text-center"></div>
            <h3 class="gallery-link-text"><span>Homecoming</span><br/><small><span>Oct 16th-18th 2014</span></small></h3>
        </a>
    </div>
</div>

<div class="row margin-top-150">
    <div class="columns small-12 text-center end">
        <h1 class="white-font font-open-sans-condensed">2014</h1>
    </div>
</div>
<div class="row">
    <div class="columns small-12 large-3 image">
        <a href="#/gallery/socialnetwork">
            <div class="gallery-link socialnetwork"></div>
            <h3 class="gallery-link-text"><span>Social Network</span><br/><small><span>Oct 16th, 2015</span></small></h3>
        </a>
    </div>
    <div class="columns small-12 large-3 image">
        <a href="#/gallery/dayjavu">
            <div class="gallery-link dayjavu"></div>
            <h3 class="gallery-link-text"><span>Day Javu</span><br/><small><span>Oct 17th, 2015</span></small></h3>
        </a>
    </div>
    <div class="columns small-12 large-3 image">
        <a href="#/gallery/guestlist">
            <div class="gallery-link guestlist"></div>
            <h3 class="gallery-link-text"><span>Guest List</span><br/><small><span>Oct 18th, 2015</span></small></h3>
        </a>
    </div>
    <div class="columns small-12 large-3 image">
        <a href="#/gallery/brunch">
            <div class="gallery-link brunch"></div>
            <h3 class="gallery-link-text"><span>The Brunch Party</span><br/><small><span>Oct 19th, 2015</span></small></h3>
        </a>
    </div>
    
</div>

<div class="row margin-top-150">
<div class="columns small-12 large-3 end image">
        <a href="#/gallery/standingovation">
            <div class="gallery-link standingovation"></div>
            <h3 class="gallery-link-text"><span>Standing Ovation</span><br/><small><span>May 8th & 9th 2015</span></small></h3>
        </a>
    </div>
</div>