<div class="row">
    <section class="hero">
      <div class="row intro">
        <div class="small-centered medium-uncentered  small-6 large-7 columns">
          <h1>Homecoming 2015</h1>
          <p>The Best One Yet. Details Soon.</p>
        </div>
        <div class="small-centered medium-uncentered small-6 large-5 columns">
          <div class="tech-img"></div>
        </div>
      </div>
    </section>
</div>

<style type="text/css">

.hero {
  background: url("http://fab5.blob.core.windows.net/images/Standing%20Ovation/55.jpg") no-repeat center center;
  background-size: cover;
  height: 1000px; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, gray, black);
    opacity: .8; }
    .hero .intro {
      padding: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .hero h1 {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.5em;
        letter-spacing: -0.025em;
        font-weight: 300;
        text-align: center; }
        .hero p {
          color: #fff;
          line-height: 1.75em;
          font-weight: 200;
          text-align: center;
          margin-bottom: 2rem; }
          .hero .tech-img {
            background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/South_Carolina_Gamecocks_Block_C_logo.svg/2000px-South_Carolina_Gamecocks_Block_C_logo.svg.png") no-repeat center center;
            background-size: cover;
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            display: block;
            margin: 0 auto; }
            @media only screen and (min-width: 40.063em) {
              .hero .tech-img {
                height: 18rem;
                width: 18rem; }
                .hero h1 {
                  padding-top: 4.5rem;
                  text-align: right;
                  font-size: 2.5rem; }
                  .hero p {
                    text-align: right; } }





                    </style>