<div class="row">
    <img src="img/fab5logo.png" alt="image" />
</div>

<div class="row margin-top-150">
    <div class="columns small-12 large-4 image">
        <a href="#/events/hc">
            <div class="round-img round-link"></div>
            <h3><span>Homecoming</span></h2>
        </a>
    </div>
    <div class="columns small-12 large-4 image">
        <a href="#/hotel">
            <div class="round-img round-link"></div>
            <h3><span>Hotel</span></h3>
        </a>
    </div>
    <div class="columns small-12 large-4 image">
        <a href="#/about">
            <div class="round-img round-link"></div>
            <h3><span>About</span></h3>
        </a>
    </div>
</div>
