
<script>
    $("li").removeClass("active");
    // add class to the one we clicked
    $(".hc").addClass("active");
</script>
<div class="row">
    <section class="hero">
        <div class="intro">
            <!-- <div class="small-centered medium-uncentered  small-6 large-7 columns">
                <h1 class="font-open-sans-condensed">Homecoming 2015</h1>
                <p>The Best One Yet. Details Soon.</p>
            </div>
            <div class="small-centered medium-uncentered small-6 large-5 columns">
                <div class="tech-img"></div>
            </div> -->
            <div class="small-12 columns center-text text-center">
                <img src="img/hcFlyer.jpeg"></img>
            </div>
        </div>
    </section>
</div>
<style type="text/css">
    .hero {
        /*background: url("img/dishTowelWallpaper.jpg") no-repeat center center;*/
        background-size: cover;
        height: 1000px;
    }

        .hero:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, gray, black);
            opacity: .8;
        }

        .hero .intro {
            padding: 3rem;
            position: relative;
            top: 10%;
            transform: translateY(-20%);
        }

        .hero h1 {
            color: #fff;
            font-size: 1.5rem;
            line-height: 1.5em;
            letter-spacing: -0.025em;
            font-weight: 300;
            text-align: center;
        }

        .hero p {
            color: #fff;
            line-height: 1.75em;
            font-weight: 200;
            text-align: center;
            margin-bottom: 2rem;
        }

        .hero .tech-img {
            background: url("img/hcLogoAlt.png") no-repeat center center;
            background-size: cover;
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }

    @media only screen and (min-width: 40.063em) {
        .hero .tech-img {
            height: 18rem;
            width: 18rem;
        }

        .hero h1 {
            padding-top: 4.5rem;
            text-align: right;
            font-size: 2.5rem;
        }

        .hero p {
            text-align: right;
        }
    }
</style>